$greycolor: rgb(53, 53, 56);
$whitecolor: rgb(255, 255, 255);
$bluecolor: rgb(24, 111, 205);
$lightbluecolor: rgb(191, 201, 250);
$greycolor: rgb(142, 142, 142);
$darkgrey: rgb(44, 44, 44);
$fontsize: 13px;